*{
    -fx-base:#000;
    -fx-font-size: 9.87pt;
    -fx-font-color: #ff5959;
     -fx-font-family: Gafata;
 }

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:100px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #494949;

}

.tab-pane .tab:selected
{
    -fx-background-color: #888888;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
}




/*******************************************************************************

*                           SplitPane                                        *

******************************************************************************/

.split-pane{
	-fx-background-color:transparent ;
}

.split-pane .split-pane-divider{
	-fx-background-color:
        -darkest-black,
        -dark-highlight,
        linear-gradient(to bottom, -light-black 2.0%, -dark-black 98.0%);
}

.split-pane .split-pane-divider:hover{
	-fx-background-color:firebrick;
}


/*******************************************************************************

*                           PieChart                                        *

******************************************************************************/


.chart .chart-title .text{
	-fx-font-size:9.0px;
}

.chart-pie-label {
    -fx-fill: white;
    /*-fx-font-weight:bold;*/
    -fx-font-size: 1.0em;
}

.chart .chart-title .text{
	-fx-font-weight:bold;
	-fx-fill:white;
}

.chart .chart-content .chart-pie-label-line {
	-fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}

/*******************************************************************************

*                           XYChart                                        *

******************************************************************************/

.bar-chart:vertical{
	-fx-background-color:#202020;
}


.axis:left{

	-fx-tick-label-fill: white;
	-fx-minor-tick-visible:false;
}

.bar-chart:vertical .chart-content .chart-plot-background{
	-fx-background-color:#202020;
}

.bar-chart:vertical .chart-title{
	-fx-background-color:#202020;
	-fx-font-weight:bold;
	-fx-font-size:15.0px;
}

.axis:bottom{
	-fx-background-color:#252525;
}

.axis:bottom .axis-tick-mark{
	-fx-fill:red;
}

.axis:bottom .axis-label .text{
	-fx-fill:white;
}






/*******************************************************************************

*                            ListView                               *

******************************************************************************/






/*******************************************************************************

*                           ToolTip                              *

******************************************************************************/

.tooltip{
  -fx-background-color: white;
  -fx-text-fill:black;
  -fx-font-size:11.0;
 /*  -fx-effect: dropshadow( three-pass-box, black, 10.0, 0.0, 0.0, 0.0); */
  -fx-wrap-text:true;
}

/*******************************************************************************

* 						Button                                      *

******************************************************************************/

 /**About Button  ----------------------------------------*/

 .button , .menu-button , .segmented-button-bar .toggle-button {
 	 -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-background-insets: 0.0, 1.0 1.0 1.0 0.0, 2.0 1.0 1.0 1.0;
    -fx-text-fill: white;
    -fx-font-size: 13.0px;
    -fx-font-weight:bold;
    -fx-background-radius:45.0;
 }

.toggle-button {
	-fx-cursor:hand;
}

.segmented-button-bar .toggle-button:selected{
	-fx-background-color:#E47434;
	-fx-text-fill:#202020;
}


.jfx-button:armed,
.jfx-button:hover,
.jfx-button:focused{
    -fx-background-color:rgb(255.0,255.0,255.0,0.9);
    -fx-text-fill:black;
}

.jfx-button,.jfx-menu-button {
    -fx-background-color:rgb(255.0,255.0,255.0,0.4);
    -fx-background-radius: 0.0px;
    -fx-background-insets: 0.0px;
    -fx-cursor:hand;
}

.jfx-button2:armed,
.jfx-button2:hover,
.jfx-button2:focused{
    -fx-background-color:rgb(0.0,0.0,0.0,0.8);
    -fx-text-fill:white;
}

.jfx-button2 {
    -fx-background-color:rgb(0.0,0.0,0.0,0.4);
    -fx-background-radius: 0.0px;
    -fx-background-insets: 0.0px;
    -fx-cursor:hand;
}


.jfx-button3:armed,
.jfx-button3:hover,
.jfx-button3:focused{
    -fx-background-color:rgb(255.0,106.0,0.0);
    -fx-text-fill:black;
}


.jfx-button3 {
    -fx-background-color:-darkest-black, -dark-highlight, linear-gradient(to bottom, -light-black 2.0%, -dark-black 98.0%);
    -fx-background-radius: 0.0px;
    -fx-background-insets: 0.0px;
    -fx-cursor:hand;
}

.jfx-button5:armed,
.jfx-button5:hover,
.jfx-button5:focused{
    -fx-background-color:rgb(0.0,0.0,0.0,0.8);
    -fx-text-fill:white;
}

.jfx-button5 {
    -fx-background-color:rgb(0.0,0.0,0.0,0.4);
    -fx-background-radius: 0.0px;
    -fx-background-insets: 0.0px;
    -fx-cursor:hand;
    -fx-text-fill:white;
}


 /**About SongButton  ----------------------------------------*/

 .songButton{
 	-fx-background-color:  linear-gradient(#38424b 0.0%, #1f2429 20.0%, #191d22 100.0%);
 	-fx-background-radius: 5.0;
    -fx-text-fill: white;
    -fx-font-size: 13.0px;

 }

 .songButton:hover{
 	-fx-background-color:orange;
 	-fx-text-fill:black;
 }

 .songButton:focused{
 	-fx-background-color: linear-gradient(to bottom,black 60.0, #141414 60.2%, orange 87.0%);
 	-fx-text-fill:white;
 }

 .songButton:marked{
 	-fx-background-color:cyan;
 	-fx-background-radius:5.0;
 	-fx-text-fill:black;
 	-fx-font-size:13.0px;
 }


 /**About ArrowButon(in Libraries)  ----------------------------------------*/

  /**About ArrowButon(in Libraries)  ----------------------------------------*/

  .arrowButton{
  	-fx-background-color:rgb(255.0,255.0,255.0,0.2);
  	-fx-background-radius:45.0;
  	-fx-cursor:hand;
  }


  .arrowButton2{
  	-fx-background-color:#101010;
  	-fx-background-radius:45.0;
  	-fx-cursor:hand;
  }



 /**About SpecialButton(in Navigation Bar) ----------------------------------------*/

  .specialButton{
 	-fx-background-color:black;
 	-fx-text-fill:white;
 	-fx-background-radius:20.0px;
 	-fx-effect: dropshadow( three-pass-box , orange , 5.0, 0.0 , 0.0 , 1.0 );
 	-fx-cursor:hand;
  }

  .specialButton:hover{
  	-fx-background-color:white;
  	-fx-text-fill:black;
  }

  .windowButton{
  	-fx-font-size:9.0;
  	-fx-font-weight:bold;
  	-fx-background-radius:0.0;
  }







/*******************************************************************************

* CSS Styles for the ContextMenu,MenuItem,..                                  *

******************************************************************************/


 .context-menu {
 	-fx-background-color:#202020;
  	-fx-background-radius:5.0;
  	-fx-border-width:2.0;
  	-fx-border-radius:2.0;
    /*-fx-border-style:segments(4.0); */
    -fx-cursor:hand;
}

 .menu-item .label{
 	-fx-text-fill:white;
 	-fx-font-weight:bold;
 	-fx-font-size:15.5;
 }

 .menu-item:focused {
 	-color: rgb(255.0,95.0,0.0);
	/*-fx-background-color:linear-gradient(
        from 0.0px 0.75em to 0.75em 0.0px,
        repeat,
        -color 0.0%,
       -color 49.0%,
        derive(-color, 30.0%) 50.0%,
        derive(-color, 30.0%) 99.0%
    );*/
    -fx-background-color:rgb(255.0,106.0,0.0,0.85);
 }

 .menu-item:focused .label{
 	-fx-text-fill:white;
 }


/*******************************************************************************

*                           Label-Menu-Item                            *

******************************************************************************/
.title-menu-item .label{
	  -fx-text-alignment:center;
}

.title-menu-item .label .text{
	  -fx-text-alignment:center;
}


/* When the Label-Menu-Item is disabled [Always it is cause i don't want the user to be able to click it] */
.title-menu-item:disabled {
    -fx-opacity: 1.0;
    -fx-border-color:transparent firebrick firebrick firebrick;
    -fx-border-width:2.0;
    -fx-cursor:default;
}

.title-menu-item:disabled:hover{
	-fx-background-color: transparent;
}

.title-menu-item:disabled .label {
    -fx-opacity: 1.0;
    -fx-font-size:11.0;
    -fx-font-weight:bold;
    -fx-text-fill:white;
    -fx-text-alignment:center;
    -fx-text-fill: #BBFF00;
}

.title-menu-item:disabled:hover .label {
	-fx-background-color: transparent;
}





.progress-indicator{
	-color: firebrick;
	-fx-accent:linear-gradient(
        from 0.0px 0.75em to 0.75em 0.0px,
        repeat,
        -color 0.0%,
       -color 49.0%,
        derive(-color, 30.0%) 50.0%,
        derive(-color, 30.0%) 99.0%
    );
}

.progress-indicator:determinate .determinate-indicator .percentage{
	-fx-fill:white;
}

.dropbox-progress-indicator{
	-color:  #007EE5;
	-fx-accent:linear-gradient(
        from 0.0px 0.75em to 0.75em 0.0px,
        repeat,
        -color 0.0%,
       -color 49.0%,
        derive(-color, 30.0%) 50.0%,
        derive(-color, 30.0%) 99.0%
    );
}

/* .progress-bar{
	-fx-progress-color:orange;
}
* */


.progress-bar > .bar {
	-fx-accent:firebrick;
	/*-fx-background-color:firebrick;*/
    -fx-background-color: linear-gradient(
        from 0.0px 0.75em to 0.75em 0.0px,
        repeat,
        -fx-accent 0.0%,
        -fx-accent 49.0%,
        derive(-fx-accent, 30.0%) 50.0%,
        derive(-fx-accent, 30.0%) 99.0%
    );

    -fx-background-insets: 3.0;
    -fx-padding: 0.2em;
}

.transparent-progress-bar:determinate .track,.transparent-progress-bar:indeterminate .track{
	-fx-background-color:rgb(0.0,0.0,0.0,0.5);
}

  /* .transparent-progress-bar */
.transparent-progress-bar > .bar,.transparent-progress-bar:indeterminate .bar{
	-fx-accent:firebrick;
}

/* transparent-volume-progress-bar */
.transparent-volume-progress-bar:determinate .track,.transparent-volume-progress-bar:indeterminate .track{
	-fx-background-color:rgb(0.0,0.0,0.0,0.5);
}

.transparent-volume-progress-bar1 > .bar,.transparent-volume-progress-bar1:indeterminate .bar,.transparent-volume-progress-bar1:determinate .track,.transparent-volume-progress-bar1:indeterminate .track{
	-fx-accent:rgb(255.0, 95.0, 0.0);
	-fx-background-radius:0.0;
	-fx-border-radius:0.0;
}

.transparent-volume-progress-bar2 > .bar,.transparent-volume-progress-bar2:indeterminate .bar,.transparent-volume-progress-bar2:determinate .track,.transparent-volume-progress-bar2:indeterminate .track{
	-fx-accent:rgb(0.0, 144.0, 255.0);
	-fx-background-radius:0.0;
	-fx-border-radius:0.0;
}

.transparent-volume-progress-bar3 > .bar,.transparent-volume-progress-bar3:indeterminate .bar,.transparent-volume-progress-bar3:determinate .track,.transparent-volume-progress-bar3:indeterminate .track{
	-fx-accent:#fc4f4f;
	-fx-background-radius:0.0;
	-fx-border-radius:0.0;
}

.transparent-volume-progress-bar2-nostrip > .bar,.transparent-volume-progress-bar2-nostrip:indeterminate .bar,.transparent-volume-progress-bar2-nostrip:determinate .track,.transparent-volume-progress-bar2-nostrip:indeterminate .track{
	-fx-accent:rgb(0.0, 144.0, 255.0);
	-fx-background-color: -fx-accent;
	-fx-background-radius:0.0;
	-fx-border-radius:0.0;
}

.transparent-volume-progress-bar3-nostrip > .bar,.transparent-volume-progress-bar3-nostrip:indeterminate .bar,.transparent-volume-progress-bar3-nostrip:determinate .track,.transparent-volume-progress-bar3-nostrip:indeterminate .track{
	-fx-accent:#fc4f4f;
	-fx-background-color: -fx-accent;
	-fx-background-radius:0.0;
	-fx-border-radius:0.0;
}




/*******************************************************************************

*                         search-box,libraries-search-box                      *

******************************************************************************/

.text-field {
	-fx-background-insets: -0.1, 2.0;
    -fx-background-radius: 5.0;
    -fx-border-radius:5.0;
    -fx-border-width:1.0;
    -fx-prompt-text-fill:black;
    -fx-text-fill:black;
    -fx-font-size:13.0;
    -fx-font-weight:bold;
    -fx-focus-color: firebrick;
}


.search-box-window-item{
	-fx-background-color:white;
	/*-fx-background-radius:5.0;*/
	-fx-text-fill:black;
	-fx-font-size:15.0;
	-fx-font-weight:bold;
	-fx-cursor:hand;

}

.search-box-window-item:hover{
	-fx-background-color:#353535;
	-fx-text-fill:white;
}

.search-box-window-label{
	-fx-text-fill:white;
	-fx-font-weight:bold;
	-fx-font-size:15.0;
}


.tree-view-search-box {
    -fx-background-radius: 45.0;
    -fx-border-radius:45.0;
    -fx-border-width:1.0;

    -fx-background-color:white;
    -fx-text-fill:black;
    -fx-prompt-text-fill:#808080;
    -fx-font-weight:bold;
}

.tree-view-search-box:hover{
   -fx-border-width:2.0;
}


/*******************************************************************************

*                         TextFields                        *

******************************************************************************/


.dark-text-field,.search-box .text-field, .libraries-search-box .text-field,.dark-text-field-rectangle{

	-fx-background-color:#202020;
	-fx-text-fill:white;
	-fx-font-weight:bold;
	-fx-accent: firebrick ;
}

.dark-text-field-rectangle{
	-fx-background-radius:0.0px;
}

.dark-text-field-rectangle:disabled{
   -fx-opacity: 1.0;
}

.dark-text-area{
	-fx-background-color:#202020;
	-fx-text-fill:white;
	-fx-fill:white;
	-fx-accent: firebrick ;
	-fx-font-weight:bold;
}

.dark-text-area .content {
    -fx-background-color: #202020;
}



/*******************************************************************************

*                         Side - Bar                        *

******************************************************************************/


.side-bar{
	-fx-background-color:#202020;
}


/*******************************************************************************

*                        Dark Buttons etc                    *

******************************************************************************/


.toggle-button3,.jfx-menu-button2,.jfx-button4,.dark-menu-button,.dark-round-jfx-button,.jfx-button-dark-white-selection{
    -fx-background-color:rgb(20.0,20.0,20.0);
    -fx-text-fill:white;
    -fx-background-radius: 0.0px;
    -fx-background-insets: 0.0px;
    -fx-cursor:hand;
    -fx-font-weight:bold;
}

.jfx-button-dark-white-selection,.split-menu-button:openvertically,.split-menu-button2 .label .text,.split-menu-button2 .arrow-button{
	 -fx-background-color:rgb(20.0,20.0,20.0) !important;
    -fx-text-fill:white !important;
    -fx-background-radius: 0.0px;
    -fx-background-insets: 0.0px;
    -fx-cursor:hand;
    -fx-font-weight:bold;
}

.split-menu-button2 .arrow-button .arrow{
	 -fx-background-color:white;
}

.dark-menu-button .label{
	-fx-background-color:transparent;
}

.dark-menu-button .label:hover{
	-fx-background-color:transparent;
}


.jfx-button4:hover,.dark-menu-button:hover{
	-fx-background-color:rgb(255.0,106.0,0.0,0.9);
}


.toggle-button3:hover{
	-fx-background-color:rgb(255.0,106.0,0.0,0.9);
}

.toggle-button3:selected{
   -fx-background-color:rgb(255.0,106.0,0.0,0.65);
}

/*.toggle-button3:armed,
.toggle-button3:hover,
.toggle-button3:focused{

}
*
*/

.dark-round-jfx-button{
	-fx-background-radius:45.0;
	-fx-background-color:#000000;
}

.jfx-button-white-selection:hover,.jfx-button-dark-white-selection:hover{
	-fx-background-color:#FFFFFF !important;
	-fx-text-fill:#000000 !important;
}

.jfx-button-red{
	 -fx-background-color:#ff5959 !important;
}

.jfx-button-red:hover{
	 -fx-background-color:#FF0C59 !important;
}

.jfx-button-green{
	 -fx-background-color:#A6C400 !important;
}

.jfx-button-green:hover{
	 -fx-background-color:#93AD00 !important;
}

.jfx-button-yellow{
	 -fx-background-color:#E0B235 !important;
}

.jfx-button-yellow:hover{
	 -fx-background-color:#D8AA34 !important;
}


/******************************************************************************
 *
 * Dark theme
 *
 *****************************************************************************/

.notification-bar.dark > .pane {
    -fx-background-color: #202020;
}

.notification-bar.dark > .pane .title,
.notification-bar.dark > .pane .label {
    -fx-text-fill: white;
}

/******************************************************************************
 *
 * Close button
 *
 *****************************************************************************/
 .notification-bar > .pane .close-button {
    -fx-background-color: #202020;
    -fx-background-insets: 0.0;
    -fx-background-radius: 2.0;
    -fx-padding: 0.0 0.0 0.0 0.0;
    -fx-alignment: center;
}

.notification-bar > .pane .close-button:hover {
    -fx-background-color: firebrick;
}

.notification-bar > .pane .close-button:pressed {
    -fx-background-color: firebrick;
}

.notification-bar > .pane .close-button > .graphic {
    -fx-background-color: white;
    -fx-scale-shape: false;
    -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
}

.notification-bar > .pane .close-button:hover > .graphic {
    -fx-background-color: #202020;
}

.notification-bar > .pane .close-button:pressed > .graphic {
    -fx-background-color: #202020;
}


/******************************************************************************
 *
 * Separator
 *
 *****************************************************************************/

.separator *.line {
-fx-border-style: solid;
-fx-border-width: 1.0px;
-fx-border-color:rgb(255.0,95.0,0.0);
-fx-background-color:rgb(255.0,95.0,0.0);
}



/******************************************************************************
 *
 * Check-Box
 *
 *****************************************************************************/



.medium-check-box > .box {
    -fx-padding: 1.0em 1.0em 1.0em 1.0em ;
}
.medium-check-box > .box > .mark {
    -fx-padding: 1.0em 1.0em 1.0em 1.0em;
}

.medium-check-box .box ,.small-check-box .box{
-fx-background-color: #101010;
-fx-border-color:grey;
-fx-border-radius:3.0px;
-fx-text-fill:white;

}

.medium-check-box:selected .mark ,.small-check-box:selected .mark{

-fx-background-color: white;

}

.medium-check-box:selected .box,.small-check-box:selected .box{

-fx-background-color: orange;
-fx-border-color:transparent;
}

.small-check-box .text,.medium-check-box .text{
	-fx-fill:white;
	-fx-font-weight:bold;
}


